<!doctype html>
<html lang="en">

<head>
    <title>Wricks Software Solutions</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css-link -->
    <link rel="stylesheet" href="login.css">
    <!-- google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Righteous&family=Roboto&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2cf437a4a5.js" crossorigin="anonymous"></script>
</head>
</head>

<body>
    <nav class="navbar navbar-light ">
        <a class="navbar-brand" href="/">
            <i class="fas fa-arrow-circle-left"></i> WRICKS DESIGNS
        </a>
    </nav>
    <h1 style="text-align: center;">WEBSITE TERMS AND CONDITIONS</h1>
    <p style="text-align: center;">These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of
    You and Wricks, concerning your access to and use of the [website
    name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked,
    or otherwise connected thereto (collectively, the “Site”).
    
    You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and
    Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the
    Site and you must discontinue use immediately.
    
    Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly
    incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to
    these Terms and Conditions at any time and for any reason.
    
    We will alert you about any changes by updating the “Last updated” date of these Terms and Conditions, and you waive any
    right to receive specific notice of each such change.
</p>
    <h1 style="text-align: center; color: red;">DONT UNNECESSARILY POST ORDERS</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="signup.js"></script>

</body>

</html>