<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wricks Designs</title>

    <!-- css link -->
    <link rel="stylesheet" href="style.css">


    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/2cf437a4a5.js" crossorigin="anonymous"></script>

    <!-- google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Anton|Galada|Great+Vibes|Kaushan+Script|Righteous|Satisfy|Staatliches&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <section id="header">
        <!-- navbar -->
        <div class="container-lg">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>            
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <a class="navbar-brand" href="#"><h2>Wricks Designs</h2></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link about" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link price" href="#">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item">
                    <%  if( Var===0) { %>
                    <button type="submit" class="btn-lo"><a href="/login"><i class="fas fa-sign-out-alt"></i> Log in</a></button>
                    <button type="submit" class="btn-si"><a href="/register"><i class="fas fa-user-plus"></i> Sign Up</a></button>
                    <% } if(Var===1) {   %>

                        <div class="dropdown dropleft">
                            <i class="fas profile fa-user-circle" style="color: tomato;" data-toggle="dropdown" class="dropbtn" aria-haspopup="true"
                                aria-expanded="false" ></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> <%= Username %></a>
                                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </nav>
        </div>
        <div class="container-fluid hj">
            <h1 class="display-2">WE BREAK LIMITS</h1>
            <h1 class="display-2">AND CREATE NEW</h1>
            <h5 class="display-6">We design to inspire and we do things for fulfillness,</h5>
            <h5 class="display-6">we Wricks Designs have great background in art works</h5>
            <button type="button" class="btn hh btn-outline-dark btn-lg"><i class="fab fa-google-play"> Know
                    More</i></button><button type="button" class="btn hh btn-outline-dark btn-lg"
                id="click"><i class="fas fa-sort-down">Place Order</i></button>
            <!-- <h2>Subscribe to Newsletter</h2> -->
            <!-- <form class="form-inline" action="/" method="POST">
            
                <label class="sr-only" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="fname"
                    placeholder="First Name">
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="sname"
                    placeholder="Second Name">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="mail" placeholder="Email Id">
                </div>
                <button type="submit" class="btn btn-outline-dark mb-2">Subscribe</button>
            </form> -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 600px; height: 200px !important;" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active" style="width: 600px; height: 200px;"> 
                    <img class="d-block " style="height: 100%; width: 100%; border-radius: 30px;" src="offer1.png" alt="First slide"  >
                </div>
                <div class="carousel-item" style="width: 600px; height: 200px;">
                    <img class="d-block w-100" src="offer2.png"  style="height: 100%; border-radius: 30px;" alt="Second slide">
                </div>
                <div class="carousel-item" style="width: 600px; height: 200px;">
                    <img class="d-block w-100" src="offer3.png" style="height: 100%; border-radius: 30px;" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </section>

    <!-- feature -->

    <section id="features">
        <h1 class="fet">About Us</h1>
        <p style="text-align: center;font-family: 'Fjalla One', sans-serif;padding-bottom: 50px;">We are group formed by
            the inspiration of art and design,we were collabrated with many people and organizations</p>
        <div class="row">
            <div class="card-group">
                <div class="card card-1">
                    <i class="fab fa-creative-commons-remix fa-3x"></i>
                    <div class="card-body">
                        <h2 class="card-title">Creative Ideas</h2>
                        <p class="card-text">We based on creativity,we used set ourself for the present trend in the design</p>
                    </div>
                </div>
                <div class="card card-2">
                    <i class="fas fa-pencil-ruler fa-3x" style="color: white;"></i>
                    <div class="card-body">
                        <h2 class="card-title">Wonderfull Designs</h2>
                        <p class="card-text">We have designed and have lots and lots of colourfull and Wonderfull designs</p>
                    </div>
                </div>
                <div class="card card-1">
                    <i class="fas fa-concierge-bell fa-3x"></i>
                    <div class="card-body">
                        <h2 class="card-title"  style="font-family: 'Staatliches',">Satisfied Service</h2>
                        <p class="card-text">Our main motto is to ensure about the satisfaction of the customers and about our works
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- NUmber of Works -->
    <section id="cta" class="wrapper">
        <div class="inner">
            <h1 style="font-family: 'Staatliches', cursive;padding-bottom: 10px;">Work We Done</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <i class="fas fa-award fa-7x"></i>
                        <h1>Digital Art</h1>
                        <h2 class="count">10</h2>
                    </div>
                    <div class="col-lg-3">
                        <i class="fab fa-slack fa-7x"></i>
                        <h1>Logo Design</h1>
                        <h2 class="count">10</h2>
                    </div>
                    <div class="col-lg-3">
                        <i class="fas fa-mail-bulk fa-7x"></i>
                        <h1>Poster Design</h1>
                        <h2 class="count">12</h2>
                    </div>
                    <div class="col-lg-3">
                        <i class="fas fa-ad fa-7x"></i>
                        <h1>Promotion video</h1>
                        <h2 class="count">05</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>

    </section>
    <!-- Testimonials -->

    <section id="testimonials">
        <h1 class="fet">Testimonials</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-interval="5000" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item c1 active">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card c-1">
                                <div class="card-body ccc">
                                    <center><img src="circle-cropped.png"></center>
                                    <h2 style="text-align: center;  font-family: 'Acme', sans-serif;color: white;">
                                        Shreesha,Sousee Sisters</h2>
                                </div>
                            </div>
                            <div class="card c-2">
                                <div class="card-body ccc">
                                    <h5 class="card-title c2">⭐⭐⭐⭐⭐</h5>
                                    <h1 class="card-text " style="text-align: center; font-family: 'Anton', sans-serif;">
                                        A great work was
                                        done for us,Poster were done nice</h1>
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c1">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card c-1">
                                <div class="card-body ccc">
                                    <center><img src="circle-cropped (1).png" width="120px" height="120px"></center>
                                    <h2 style="text-align: center;  font-family: 'Acme', sans-serif;color: white;">
                                        Santhosh Kumar,We Ink Writters</h2>
                                </div>
                            </div>
                            <div class="card c-2">
                                <div class="card-body ccc">
                                    <h5 class="card-title c2">⭐⭐⭐⭐⭐</h5>
                                    <h1 class="card-text" style="text-align: center; font-family: 'Anton', sans-serif;">
                                        Cool promo video was done for We Ink Writters</h1>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="container-lg">
            <h1 style="text-align: center; font-family: 'Anton', sans-serif; padding-top: 30px;color: black;">We Done Work For</h1>
            <div class="row">
                <div class="col col-lg-2 col-sm-6">
                    <img src="circle-cropped (1).png" alt="" height="116 px" width="116px">
                </div>
                <div class="col col-lg-2 col-sm-6">
                    <img src="circle-cropped3.png" alt="" height="116 px" width="116px">
                </div>
                <div class="col col-lg-2 col-sm-6">
                    <img src="circle-cropped4.png" alt="" height="116 px" width="116px">
                </div>
                <div class="col col-lg-2 col-sm-6">
                    <img src="55450445_2136080313179671_8719544756394262528_o.png" alt="" height="116 px" width="116px">
                </div>
                <div class="col col-lg-2 col-sm-6">
                    <img src="circle-cropped5.png" alt="" height="116 px" width="116px">
                </div>
                <div class="col col-lg-2 col-sm-6">
                    <img src="circle-cropped6.png" alt="" height="116 px" width="116px">
                </div>
            </div>
        </div>
    </section>
    <!-- works we d0 -->
    <!-- <section id="workswe">
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="text-align: center; font-family: 'Anton', sans-serif;">Portfolio</h2>
                    <p style="text-align: center; font-family: 'Anton', sans-serif;">Check our Portfolio</p>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="Untitled-2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4 style="color: white;">Logo Design</h4>
                                <p>Rs: 200</p>
                                <div class="portfolio-links">
                                    <a href="Untitled-2.jpg" data-gall="portfolioGallery" class="venobox"
                                        title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="TEMPLATE-IP.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Poster Design</h4>
                                <p>Rs: 250</p>
                                <div class="portfolio-links">
                                    <a href="TEMPLATE-IP.jpg" data-gall="portfolioGallery" class="venobox"
                                        title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="Promo-video-on-smartphone-1494891424.png" class="img-fluid" alt=""
                                style="height: 200px; width: 100%;">
                            <div class="portfolio-info">
                                <h4>Promotional Video</h4>
                                <p>Rs: 300</p>
                                <div class="portfolio-links">
                                    <a href="Promo-video-on-smartphone-1494891424.png" data-gall="portfolioGallery"
                                        class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="Dhanush2_digi.jpg" class="img-fluid" alt="" style="height: 249px; width: 100%;">
                            <div class="portfolio-info">
                                <h4>Digital Art</h4>
                                <p>From Rs: 350</p>
                                <div class="portfolio-links">
                                    <a href="poojahedge_digiart.jpg" data-gall="portfolioGallery" class="venobox"
                                        title="Card 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="room illustration.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Vector art 2</h4>
                                <p>From Rs: 100</p>
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="IMG_20200603_164119.jpg" class="img-fluid" alt=""
                                style="height: 249px; width: 100%;">
                            <div class="portfolio-info">
                                <h4>Manipulation</h4>
                                <p>From Rs: 100</p>
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="colourGrading.jpg" class="img-fluid" alt="" style="height: 261px; width: 100%;">
                            <div class="portfolio-info">
                                <h4>Colour Grading</h4>
                                <p>From Rs: 150</p>
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="end game mosaic art.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Mosaic Art</h4>
                                <p>From Rs:100</p>
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="Web-Development-and-Web-Design-Company.png" class="img-fluid" alt=""
                                style="height: 261px; width: 100%;">
                            <div class="portfolio-info">
                                <h4>Web Design And Development</h4>
                                <p>Based On the Work</p>
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery"
                                        class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </section> -->

<div class="container text-center my-3">
    <h1 class="fet">Tell us What we should do for you</h1>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel c1 slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item c2 active">
                    <div class="col-md-6">
                        <div class="card" style="width:100%; background-color: tomato; border-radius: 20px; ">
                            <img class="card-img-top" src="fruit-fashion.png" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                                <img src="logos.png" style="border-radius: 30px;">
                                <h6 class="card-text" style="margin-top:10px;">Rs :450</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book"  value="Logo Design">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c2">
                    <div class="col-md-6">
                        <div class="card" style="width: 100%; background-color: tomato; border-radius: 20px;  ">
                            <img class="card-img-top" src="POSTER.png" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                                <img src="posters.png" style="border-radius: 30px;">
                                <h6 class="card-text" style="margin-top:10px;">Rs :350</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book1"  value="Poster Design">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c2">
                    <div class="col-md-6">
                        <div class="card" style="width:100%; background-color: tomato;border-radius: 20px;">
                            <img class="card-img-top" src="PROMO.png" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                        <img src="promos.png" style="border-radius: 30px;">
                                <h6 class="card-text" style="margin-top:10px;">Rs :400</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book2"  value="Promo Design">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c2">
                    <div class="col-md-6">
                        <div class="card" style="width: 100%; background-color: tomato;border-radius: 20px; ">
                            <img class="card-img-top" src="digital.png" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                        <img src="digitals.png" style="border-radius: 30px;">
                                <h6 class="card-text" style="margin-top:10px;">Rs :450</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book3"  value="Digital Art">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c2">
                    <div class="col-md-6">
                        <div class="card" style="width: 100%; background-color: tomato;border-radius: 20px; ">
                            <img class="card-img-top" src="PHOTO.png" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                        <img src="photos.png" style="border-radius: 30px;">
                            <h6 class="card-text" style="margin-top:10px;">BASED ON EDIT</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book4"  value="Photo Edit">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c2">
                    <div class="col-md-6">
                        <div class="card" style="width: 100%; background-color: tomato; border-radius: 20px;">
                            <img class="card-img-top" src="PHOTOGR.png" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                        <img src="photogras.png" style="border-radius: 30px;">
                            <h6 class="card-text" style="margin-top:10px;">BASED ON WORK</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book5"  value="Photography">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item c2">
                    <div class="col-md-6">
                        <div class="card" style="width: 100%; background-color: tomato;border-radius: 20px; ">
                            <img class="card-img-top" src="voices.jpg" alt="Card image cap" style="border-radius: 20px;">
                            <div class="card-body">
                                <img src="Voice-over.jpg" style="border-radius: 30px;  height: 200px; width: 200px;">
                                <h6 class="card-text" style="margin-top:10px;">BASED ON WORK</h6>
                                <button type="submit" class="btn btn-outline-danger btn-lg book6" value="Voice Over">Book Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
</section>
    <!-- order -->
    <section id="order">
        <h1 class="fet">Place Your Order</h1>
        <div class="container-lg" style="font-family: 'Comfortaa', cursive;">
            <form class="needs-validation" action="/order" method="POST" novalidate>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">First name</label>
                        <input type="text" class="form-control" id="validationCustom01"  name="fName" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Last name</label>
                        <input type="text" class="form-control" id="validationCustom02"  name="sName" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom03">Company Name</label>
                        <input type="text" class="form-control" id="validationCustom03" name="cname" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom04">Work</label>
                        <select class="custom-select" id="validationCustom04" name="wname" required>
                            <option selected disabled value="">Choose...</option>
                            <option>Logo Design</option>
                            <option>Poster Design</option>
                            <option>Promo Design</option>
                            <option>Digital Art</option>
                            <option>Photo Edit</option>
                            <option>Photography</option>
                            <option>Voice Over</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom05">Due Date</label>
                        <input type="date" class="form-control" id="validationCustom05" name="dname" required>
                        <div class="invalid-feedback">
                            
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="nname" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Email</label>
                        <input type="email" name="MailId" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to <a href="/agree">terms and conditions</a> 
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-dark mb-2" type="submit">Submit form</button>
        </div>
        </form>
    </section>
    <section id="footer" style="color: white;">
        <div class="container-lg foo">
            <div class="row">
                <div class="col-lg-3 ffo">
                    <h2>Wricks Designs</h2>
                    <p>we were collabrated with many people and organizations,We based on creativity,we used set ourself for the present trend in the design,
                We have designed and have lots and lots of colourfull and Wonderfull designs,Our main motto is to ensure about the satisfaction of the customers and about our works</p>
                </div>
                <div class="col-lg-3 ffo">
                    <h4>Team Members</h4>
                    <div class="row">
                        <div class="col-lg-12 mx-auto">
                            <h6><img src="circle-cropped (5).png" alt="" width="50px" height="50px"> Maher Shalal D</h6>
                        </div>
                        <div class="col-lg-12 mx-auto">
                            <h6><img src="circle-cropped(3).png" alt="" width="50px" height="50px"> Kural Eniyan S M
                            </h6>
                        </div>
                        <div class="col-lg-12 ml-auto">
                            <h6><img src="circle-cropped (2).png" alt="" width="50px" height="50px"> Kavivarman </h6>
                        </div>
                        <div class="col-lg-12">
                            <h6><img src="circle-cropped12.png" alt="" width="50px" height="50px"> Logeshwar D</h6>
                        </div>
                        <div class="col-lg-12">
                            <h6><img src="circle-cropped21.png" alt="" width="50px" height="50px"> Robin</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ffo">
                <div class="col-lg-12 mx-auto">
                    <h6><img src="circle-cropped (7).png" alt="" width="50px" height="50px"> Rajaayyanar P</h6>
                </div>
                <div class="col-lg-12 mx-auto">
                    <h6><img src="circle-cropped (8).png" alt="" width="50px" height="50px"> Jebin Samuel J
                    </h6>
                </div>
                <div class="col-lg-12 ml-auto">
                    <h6><img src="circle-cropped (9).png" alt="" width="50px" height="50px"> Manoji T</h6>
                </div>
                <!-- <div class="col-lg-12">
                    <h6><img src="circle-cropped12.png" alt="" width="50px" height="50px"> Logeshwar</h6>
                </div>
                <div class="col-lg-12">
                    <h6><img src="circle-cropped21.png" alt="" width="50px" height="50px"> Robin</h6>
                </div> -->
                </div>
                <div class="col-lg-3 ffo">
                    <h4>Contact</h4>
                    <p>
                        <i class="fas fa-home mr-3"></i>Erode,TN,IND</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>wricksdesigns@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 91 95664 16831</p>
                </div>
            </div>
            <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline" style="margin: 0;">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1" style="text-decoration: none; color: white;" href="https://www.instagram.com/wricks_design/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-sm rgba-white-slight mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text-center text-md-center" style="padding-top: 15px;">
                <p>Powered by <img src="icon-adamz.png" alt="">Maher Shalal D</p>
            </div>
        </div>
        </div>
        </div>
    </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="main.js"></script>
        <script src="hide.js"></script>
</body>

</html>







            