<html lang="en">
  <head>
    <title>Wricks Software Solutions</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css-link -->
    <link rel="stylesheet" href="login.css">
    <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Righteous&family=Roboto&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Acme&family=Anton&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
   <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/2cf437a4a5.js" crossorigin="anonymous"></script>
  </head>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 logo-side">
        <center><img src="tr.png" alt="" class="logo animate__animated animate__bounce animate__faster img-fluid"></center>
         <center><h3 class="company-name logo animate__animated animate__bounce animate__slower"  >Wricks Designs</h3></center> 
        </div>
        <div class="col-lg-6 login-side">
          <h1 class="sign-word" style="margin:100px auto">Sign Up to our Family</h1>
         <center>
            <form class="needs-validation" action="/register" method="POST" novalidate>
              <div class="form">
                <div class="col mb-3">
                  <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="FirstName" required>
                  <div class="invalid-feedback">
                    Please Provide a First Name.
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col mb-3">
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" name="SecondName" required>
                  <div class="invalid-feedback">
                    Please Provide a Last Name.
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col mb-3">
                  <input type="email" class="form-control" id="validationCustom02" placeholder="Mail Id" name="username" required>
                  <div class="invalid-feedback">
                    Please Provide valid Mail Id.
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col mb-3">
                  <input type="password" class="form-control" id="psw" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" name="PassWord"
                      required>
                </div>
                 <div id="message">
                <div class="row">
                  <div class="col-lg-3">
                    <p id="letter" class="invalid"> <b>lowercase</b> letter (1)</p>
                  </div>
                  <div class="col-lg-3">
                    <p id="capital" class="invalid"><b>uppercase</b> letter (1)</p>
                  </div>
                  <div class="col-lg-3">
                    <p id="number" class="invalid"><b>number (1)</b></p>
                  </div>
                  <div class="col-lg-3">
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                  </div>
                </div>
              </div>   
                
              <button class="btn-lo" type="submit">Sign Up</button>

             
            </form> 
            <hr>
            <p class="or">Or connect with</p>
            <button type="submit" class="sign-gogle"><img src="icons8-google.svg" width="50px" height="30px"><a href="/auth/google" style="text-decoration: none !important; color: white;">Sign up with Google</a>   </button>
          </form></center>
          <div class="text-center text-md-center" style="padding-top: 15px;">
            <p>Powered by <img src="icon-adamz.png" alt=""> Maher Shalal D</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="signup.js"></script>
  </body>
</html>
